export ADDRESS=":8081"
export DB_ADDRESS="postgres://admin:adminpassword@localhost/socialnetwork?sslmode=disable"
export SENDGRID_API_KEY="YOUR_API"
export FROM_EMAIL="askar.ulubayev@gmail.com"
export ENV="not_production"
export MAIL_TRAP_API_KEY="9a8680736d77865055b85185b8186717"
export AUTH_USERNAME="admin"
export AUTH_PASSWORD="password"
export AUTH_SECRET="AUTH_SECRET"